* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header and Hero Section */

.header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url('./assets/heroImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heade__upper {
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.heade__upper div a {
  padding-right: 20px;
}

.navbar {
  width: 80%;
  height: 70px;
  margin: 5px auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navItem {
  display: flex;
  align-items: center;
}

.navItem ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navItem ul li a {
  color: #000;
}
.searchItem {
  margin-left: 20px;
}

.header__Information {
  width: 80%;
  margin: 130px auto;
  font-size: 34px;
}
.header__Information h3 {
  width: 800px;
  color: white;
}

.header__Information button {
  margin: 30px 0;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #a60726;
  color: white;
  cursor: pointer;
  transition: background-color 100ms;
}

.header__Information button:hover {
  background-color: #fff;
  border: 1px solid #a60726;
  color: #000;
}

/* what's new */

/* news upper */
.news {
  width: 80%;
  margin: 20px auto;
  font-size: 24px;
  font-weight: none;
}

.news__upper {
  margin: 1.5rem 0;
  display: flex;
  gap: 4rem;
}

.news__upper__left {
  width: 480px;
  height: 380px;
}
.news__upper__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__upper__right {
  width: 500px;
}

.news__upper__right h3 {
  font-size: 30px;
}

.news__upper__right p {
  margin: 1rem 0;
  font-size: 20px;
  line-height: 30px;
}

.news__upper__right button {
  padding: 15px 30px;
  border: 1px solid #000;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 100ms;
}

.news__upper__right button:hover {
  background-color: #000;
  color: white;
}

/* news lower */

.row {
  display: flex;
  gap: 4rem;
  margin: 2rem 0;
}

.news__col {
  flex-basis: 33%;
}

.news__col img {
  width: 100%;
  object-fit: cover;
}
.news__col h4 {
  font-size: 22px;
}
.news__col p {
  font-size: 17px;
  margin: 15px 0;
  line-height: 30px;
}

/* Banner 1 video */
.banner__1 {
  width: 80%;
  margin: 5rem auto;
  cursor: pointer;
}
.banner__info {
  width: 100%;
  height: 600px;
  position: relative;
}

.banner__info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__info__info {
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 500px;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.banner__info__info img {
  width: 40px;
  height: 40px;
}
